* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.fa-circle-xmark {
    cursor: pointer;
}

.fa-circle-xmark:hover {
    color: red;
}