<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE ToDo List</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div class="main-title">
            <img src="img/logo.png" alt="">
            <h1>TO DO LIST</h1>
        </div>

        <div id="app">
            <div id="newToDo">
                <input type="text" id="addNew" placeholder="Crea una nuova nota" v-model="newT.text">
                <button ref="subBtn" type="submit" @click="submitNew()" @keydown.enter="submitNew()" :class="{ alert: subM() }">Crea</button>
            </div>
            <ul>
                <li v-for="(text, index) in arrList" :class="{ done: arrList[index].done }" @click="(arrList[index].done) ? arrList[index].done=false : arrList[index].done=true">
                    <h4>{{arrList[index].text}}</h4>
                    <div @click.stop="() => arrList.splice(index, 1)"><i title="Premi per eliminare la nota" class="fa-solid fa-circle-xmark"></i></div>
                </li>
            </ul>
        </div>
    </main>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>